* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #38aecc;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-top: 30px;
  color: #ffd700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  background-color: #183446;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 53px;
  cursor: pointer;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ffd700;
  color: black;
  border-radius: 1rem;
  border: none;
}
.button-container {
  justify-content: center;
  display: flex;
}
.msg-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vmin;
  align-items:center ;
}
#msg {
  margin-top: 10px;
  font-size: 8vmin;
  color: #183446;
}
.hide {
  display: none;
}
